@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Heebo, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}