---
import BigLink from "@components/BigLink.astro";
import BaseLayout from "@layouts/en/EnBaseLayout.astro";
---

<BaseLayout>
  <h1>Welcome to Maakaf community website !</h1>

  <section
    class="flex flex-wrap items-center justify-center not-prose md:mx-[-8rem] md:w-[48rem] gap-4"
  >
    <BigLink title="Newbies" text="TARGEM OTI LE-INGLISH" href="/en/newbies" />
    <BigLink title="Members" text="TARGEM OTI LE-INGLISH" href="/en/members" />
    <BigLink
      title="Maintainers"
      text="TARGEM OTI LE-INGLISH"
      href="/en/maintainers"
    />
    <BigLink
      title="Sponsors"
      text="TARGEM OTI LE-INGLISH"
      href="/en/sponsors"
    />
    <BigLink
      title="Recruiters"
      text="TARGEM OTI LE-INGLISH"
      href="/en/recruiters"
    />
  </section>
  <p class="prose">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi facilis
    laborum, nobis officiis beatae velit quia earum nostrum? Tenetur, similique!
    Explicabo impedit commodi iusto quos eos perferendis sint, sit cumque.
  </p>

  <section class="flex flex-col max-w-[80ch] prose">
    <p>
      אם אתם מתכנתים <b>ממש חדשים</b> לעולם הקוד הפתוח, <br />
       כתבנו במיוחד בשבילכם הדרכה והעלינו גם סרטונים ליוטיוב כדי ללמד אתכם מה
      הצעדים הראשונים שצריך לעשות כדי להצטרף לעולם הקוד הפתוח?
    </p>

    <p>
      אם אתם מתכנתים <b>שכבר מנוסים בתרומה לקוד פתוח</b>, <br />
       מוזמנים להצטרף לפעילות בקהילה שלנו - <br />
       איך מצטרפים לפעילות בקהילת מעקף?
    </p>

    <p>
      אם אתם <b>מתחזקים של ספריית קוד פתוח</b>, <br />
       מוזמנים להוסיף את הפרוייקט שלכם לפעילות בקהילה - <br />
       איך מצרפים פרוייקט חדש לקהילה?
    </p>

    <p>
      אם אתם <b>חברות שמעוניינות לחזק את הקהילה</b>, <br />
       אתם מוזמנים להצטרף לקהילה כספונסרים - <br />
       איך אפשר להיות ספונסר של קהילת מעקף?
    </p>

    <p>
      אם אתם <b>מגייסים מתכנתים</b>, <br />
       מוזמנים להכיר את חברי הקהילה ולמצוא מביניהם מתכנת שיתאים למשרה שלכם - <br
      />
       איך מגייסים מתכנתים דרך קהילת מעקף?
    </p>
  </section>
</BaseLayout>
