---
import BigLink from "@components/BigLink.astro";
import BaseLayout from "@layouts/en/EnBaseLayout.astro";
---

<BaseLayout>
  <h1>Welcome to Maakaf community website !</h1>

  <section
    class="flex flex-wrap items-center justify-center not-prose md:mx-[-8rem] md:w-[48rem] gap-4"
  >
    <BigLink title="Newbies" text="TARGEM OTI LE-INGLISH" href="/en/newbies" />
    <BigLink title="Members" text="TARGEM OTI LE-INGLISH" href="/en/members" />
    <BigLink
      title="Maintainers"
      text="TARGEM OTI LE-INGLISH"
      href="/en/maintainers"
    />
    <BigLink
      title="Sponsors"
      text="TARGEM OTI LE-INGLISH"
      href="/en/sponsors"
    />
    <BigLink
      title="Recruiters"
      text="TARGEM OTI LE-INGLISH"
      href="/en/recruiters"
    />
  </section>
  <p class="prose">
    Maakaf Community is an Israeli open-source community. We aim to encourage innovation, creativity, and addressing the existing issues in the development world today. Many developers rely on open-source code libraries to support the existing codebase, and some of the most commonly used libraries today are open-source libraries. We want to encourage and establish a community around these libraries, making it one of the most fertile developer communities in the country. We believe that contributing to open-source code can open the door to finding unexpected talents in the development world, which can help recruiters and leaders in various companies to find quality individuals and establish their qualities more quickly than the current recruitment process. We believe that there are talented individuals with a high motivation to learn in this community, and we are delighted to have your support.
  </p>

  <section class="flex flex-col max-w-[80ch] prose">
    <p>
      If you are <b>brand new programmers</b> to the world of open source code, <br />
      we have created a special guide just for you, and we've also uploaded YouTube videos to teach you what the first steps are to join the open source code world.
    </p>

    <p>
      If you are <b>experienced programmers contributing to open source code</b>, <br />
      you are welcome to join our community activities - <br />
      how to participate in Maakaf's community activities?
    </p>

    <p>
      If you are <b>maintainers of open-source code libraries</b>, <br />
      you are welcome to add your project to the community's activities - <br />
      how to add a new project to the community?
    </p>

    <p>
      If you are <b>companies interested in strengthening the community</b>, <br />
      you are welcome to join the community as sponsors - <br />
      how to become a sponsor of Maakaf's community?
    </p>

    <p>
      If you are <b>recruiting programmers</b>, <br />
      you are welcome to get to know the community members and find a programmer among them who suits your job - <br />
      how to recruit programmers through the Maakaf community?
    </p>
  </section>
</BaseLayout>
