---
import BigLink from "@components/BigLink.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>ברוכים הבאים לאתר של קהילת מעקף</h1>

  <p class="prose">
    מעקף היא
    <b>קהילת קוד פתוח ישראלית</b>. <br />
     אנחנו מעוניינים לעודד חדשנות, יצירתיות ומענה לבעיות הקיימות בעולם הפיתוח
    היום.<br />
     מפתחים מסתמכים על ספריות קוד פתוח כדי לתמוך בבסיס הקוד הקיים, כמה מספריות
    הקוד הפופולריות ביותר כיום הן ספריות קוד פתוח. <br />
     אנחנו מעוניינים ולעודד את קיומה של קהילה זו ולבסס אותה לאחת מקהילות
    המתכנתים הפוריות בארץ. <br />
    <br />
     אנחנו מאמינים כי התרומה לקוד פתוח יכולה להוות פתח למציאת כישרונות לא צפויים
    בעולם הפיתוח, מה שיכול לעזור למגייסים ולמובילים בחברות השונות למצוא אנשים
    איכותיים ולבסס את האיכויות שלהם בצורה מהירה. <br />
     בקהילה שלנו יש אנשים כישרוניים, עם מוטיבציה גבוהה ללמידה. <br />
    <br />
    <h3> הדברים הכי מעניינים בקהילה שלנו:</h3>

    <a href="https://maakaf.netlify.app/en/members/en_projects_list/">רשימת הפרוייקטים בקהילה אליהם אתם יכולים להצטרף</a><br/>
    <a href="https://maakaf.netlify.app/members/he_mentoring_project/">פרוייקט המנטורינג- מפתחים מנוסים מלווים מפתחים בתחילת דרכם</a><br/>
    <a href="https://discord.com/invite/a2VyCjRk2M" target="_blank">הצרטפו לשרת הדיסקורד של הקהילה</a><br/>
    <a href="https://chat.whatsapp.com/CCFkZwKn3oD8kJoRLms7ts" target="_blank">הצטרפו לקבוצת וואטסאפ שקטה לעדכונים בלבד</a><br/>
  
    <br />
    <br />

    <b> איך אתם יכולים להתחבר לפעילות בקהילה שלנו?</b>
  </p>

  <section
    class="flex flex-wrap items-center justify-center not-prose md:mx-[-8rem] md:w-[48rem] gap-4"
  >
    <BigLink title="Newbies" text="פעם ראשונה בקוד פתוח" href="/newbies" />
    <BigLink title="Members" text="מי שכבר התנסה בקוד פתוח" href="/members" />
    <BigLink
      title="Maintainers"
      text="בעלי פרוייקטים שרוצים להצטרף"
      href="/maintainers"
    />
    <BigLink
      title="Sponsors"
      text="חברות עסקיות שרוצות לתמוך בקהילה"
      href="/sponsors"
    />
    <BigLink
      title="Recruiters"
      text="מגייסים שרוצים לגייס חברי קהילה מוכשרים"
      href="/recruiters"
    />
  </section>

  <br />

  <section class="flex flex-col max-w-[80ch] prose">
    <p>
      אם אתם מתכנתים
      <b>ממש חדשים</b>
       לעולם הקוד הפתוח, <br />
       כתבנו במיוחד בשבילכם הדרכה והעלינו גם סרטונים ליוטיוב כדי ללמד אתכם מה
      הצעדים הראשונים שצריך לעשות כדי להצטרף לעולם הקוד הפתוח?
    </p>

    <p>
      אם אתם מתכנתים <b>שכבר מנוסים בתרומה לקוד פתוח</b>, <br />
       מוזמנים להצטרף לפעילות בקהילה שלנו - <br />
       איך מצטרפים לפעילות בקהילת מעקף?
    </p>

    <p>
      אם אתם <b>מתחזקים של ספריית קוד פתוח</b>, <br />
       מוזמנים להוסיף את הפרוייקט שלכם לפעילות בקהילה - <br />
       איך מצרפים פרוייקט חדש לקהילה?
    </p>

    <p>
      אם אתם <b>חברות שמעוניינות לחזק את הקהילה</b>, <br />
       אתם מוזמנים להצטרף לקהילה כספונסרים - <br />
       איך אפשר להיות ספונסר של קהילת מעקף?
    </p>

    <p>
      אם אתם <b>מגייסים מתכנתים</b>, <br />
       מוזמנים להכיר את חברי הקהילה ולמצוא מביניהם מתכנת שיתאים למשרה שלכם - <br
      />
       איך מגייסים מתכנתים דרך קהילת מעקף?
    </p>
  </section>
</BaseLayout>
