---
import BigLink from "../components/BigLink.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>ברוכים הבאים לאתר של קהילת מעקף</h1>

  <section
    class="flex flex-wrap items-center justify-center not-prose mx-[-8rem] md:w-[48rem] gap-4"
  >
    <BigLink title="Newbies" text="פעם ראשונה בקוד פתוח" href="/newbies" />
    <BigLink title="Members" text="מי שכבר התנסה בקוד פתוח" href="/members" />
    <BigLink
      title="Maintainers"
      text="בעלי פרוייקטים שרוצים להצטרף"
      href="/maintainers"
    />
    <BigLink
      title="Sponsors"
      text="חברות עסקיות שרוצות לתמוך בקהילה"
      href="/sponsors"
    />
    <BigLink
      title="Recruiters"
      text="מגייסים שרוצים לגייס חברי קהילה מוכשרים"
      href="/recruiters"
    />
  </section>
  <p class="prose">
    קהילת מעקף היא קהילת קוד פתוח ישראלית. אנחנו מעוניינים לעודד חדשנות,
    יצירתיות ומענה לבעיות הקיימות בעולם הפיתוח היום. הרבה מפתחים מסתמכים על
    ספריות קוד פתוח כדי לתמוך בבסיס הקוד הקיים, כמה מהספריות המשומשות ביותר היום
    הן ספריות קוד פתוח ואנחנו מעוניינים ולעודד את קיומה של קהילה זו ולבסס אותה
    לאחת מקהילות המתכנתים הפוריות בארץ. אנחנו מאמינים כי התרומה לקוד פתוח יכולה
    להוות פתח למציאת כישרונות לא צפויים בעולם הפיתוח, וזה יכול לעזור למגייסים
    ולמובילים בחברות השונות למצוא אנשים איכותיים ולבסס את האיכויות שלהם בצורה
    מהירה יותר מתהליך הגיוס כיום. אנחנו מאמינים כי יש אנשים כישרוניים, עם
    מוטיבציה גבוהה ללמידה בקהילה זו נשמח לתמיכתכם.
  </p>

  <section class="flex flex-col max-w-[80ch] prose">
    <p>
      אם אתם מתכנתים <b>ממש חדשים</b> לעולם הקוד הפתוח, <br />
       כתבנו במיוחד בשבילכם הדרכה והעלינו גם סרטונים ליוטיוב כדי ללמד אתכם מה
      הצעדים הראשונים שצריך לעשות כדי להצטרף לעולם הקוד הפתוח?
    </p>

    <p>
      אם אתם מתכנתים <b>שכבר מנוסים בתרומה לקוד פתוח</b>, <br />
       מוזמנים להצטרף לפעילות בקהילה שלנו - <br />
       איך מצטרפים לפעילות בקהילת מעקף?
    </p>

    <p>
      אם אתם <b>מתחזקים של ספריית קוד פתוח</b>, <br />
       מוזמנים להוסיף את הפרוייקט שלכם לפעילות בקהילה - <br />
       איך מצרפים פרוייקט חדש לקהילה?
    </p>

    <p>
      אם אתם <b>חברות שמעוניינות לחזק את הקהילה</b>, <br />
       אתם מוזמנים להצטרף לקהילה כספונסרים - <br />
       איך אפשר להיות ספונסר של קהילת מעקף?
    </p>

    <p>
      אם אתם <b>מגייסים מתכנתים</b>, <br />
       מוזמנים להכיר את חברי הקהילה ולמצוא מביניהם מתכנת שיתאים למשרה שלכם - <br
      />
       איך מגייסים מתכנתים דרך קהילת מעקף?
    </p>
  </section>
</BaseLayout>
