---
import HeaderLink from "./HeaderLink.astro";
---

<nav class="navbar bg-base-100">
  <!-- LOGO -->
  <div class="">
    <a href="/" class="btn btn-ghost normal-case text-xl">מעקף</a>
  </div>

  <!-- LINKS -->
  <div class="flex-none navbar-start">
    <ul class="menu menu-horizontal">
      <li>
        <HeaderLink>לינק 1</HeaderLink>
      </li>
      <li>
        <HeaderLink>לינק 2</HeaderLink>
      </li>
      <li>
        <HeaderLink>לינק 3</HeaderLink>
      </li>
    </ul>
  </div>
</nav>
