---
import HeaderLink from "./HeaderLink.astro";
---

<nav class="flex place-items-center bg-base-100">
  <!-- LOGO -->
  <div>
    <a href="/" class="btn btn-ghost normal-case text-xl">מעקף</a>
  </div>

  <!-- LINKS -->
  <div class="">
    <ul class="menu menu-horizontal">
      <li>
        <HeaderLink href="/newbies">מתחילים</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/members">חברים</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/maintainers">מתחזקים</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/sponsers">ספונסרים</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/recruiters">מגייסים</HeaderLink>
      </li>
    </ul>
  </div>
</nav>
