---
import SideNav from "../components/SideNav.astro";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <article class="grid grid-cols-[1fr_,_10fr]">
    <SideNav />
    <div class="mx-8 py-2 prose">
      <slot />
    </div>
  </article>
</BaseLayout>
<main class="relative"></main>
