---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<html lang="he" dir="rtl">
  <BaseHead title="מעקף" description="תוכנית מעקף" />
  <body>
    <Header />
    <main class="max-w-2xl mx-auto py-2 prose">
      <slot />
    </main>
    <Footer />
  </body>
</html>
